.main-container {
  max-width: 1100px;
  margin: 0 auto;
}

@media (max-width: 1000px){
  .main-container {
      max-width: 900px;
      margin: 0 auto;
}
}

@media (max-width: 900px){
  .main-container {
      max-width: 800px;
      margin: 0 auto;
}
}

@media (max-width: 800px){
  .main-container {
      max-width: 700px;
      margin: 0 auto;
}
}

@media (max-width: 700px){
  .main-container {
      max-width: 600px;
      margin: 0 auto;
}
}

@media (max-width: 600px){
  .main-container {
      max-width: 500px;
      margin: 0 auto;
}
}

@media (max-width: 460px){
  .main-container {
      max-width: 300px;
      margin: 0 auto;
}
}

.app-grid {
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  width: 0px;
  width: 100%;
  align-items: baseline;
  margin-bottom: 30px;
  justify-content: flex-start;
}

// @media (max-width: 1000px){
//   .header-container {
//     justify-content: center;
//   }
//   }

.app-header {
  width: 30%;
  font-family: RubikMed;

  font-size: 40px;
}
